
body {
  margin: 0px;
  padding: 0px;
  background: #f5f5f5;
  font-weight: 500;
}

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
    /* font-weight: 600; */
    /* text-transform: uppercase; */
    /* font-size: 13px; */
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    /* color: rgb(187, 76, 74); */
    /* width: 25%; */
    /* font-family: 'Poppins', sans-serif; */
}

.resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
 padding: 17px 33px;
}

.resp-tab-active {
    /* border: 1px solid #c1c1c1; */
    /* border-bottom: 4px solid #bc0023; */
    /* margin-bottom: -1px !important; */
    /* padding: 12px 14px 14px 14px !important; */
    /* position: relative; */
}
 /*
.resp-tab-active:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #bc0023;
    border-left: 10px solid rgba(69, 42, 21, 0);
    border-right: 10px solid rgba(199, 57, 57, 0);
    left: 45%;
    top: 103%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}*/

.resp-tab-active {
    /* border-bottom: none; */
    /*  background-color: rgba(255, 206, 20, 0.3); */
}

.resp-content-active,
.resp-accordion-active { display: block; }

.resp-tab-content {
    /* border: 1px solid #1ca0de; */
    border-top: transparent;
    min-height: auto;
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #fff !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 25%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color:rgba(0, 0, 0, 0.26);
    border: 1px solid #c1c1c1;
    float: left;
    width: 75%;
    min-height: 200px;
    border-radius: 4px;
    clear: none;
}
.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
 padding: 15px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #ffffff;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom:12px solid #00BCD4;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { background: #ffffff !important; }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}

@media only screen and (max-width:1080px) {
.resp-vtabs .resp-tabs-list li {
    padding: 18.1px 15px !important;
}
.resp-tab-content {
    display: none;
    padding: 19.5px 33px;
}
}
@media only screen and (max-width:1024px) {
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 20%;
}
.resp-vtabs .resp-tabs-container {
    width: 80%;
}
.resp-tab-content {
    display: none;
    padding: 32.5px 33px;
}
}
@media only screen and (max-width:800px) {
.resp-vtabs .resp-tabs-container {
    width: 74.5%;
}
}
@media only screen and (max-width:768px) {
.resp-vtabs .resp-tabs-container {
    width: 94%;
}
}
@media only screen and (max-width:667px) {
.resp-vtabs .resp-tabs-container {
    width: 95%;
}
}
@media only screen and (max-width:600px) {
.resp-vtabs .resp-tabs-container {
    width: 95%;
}
}
@media only screen and (max-width: 568px) {
	.resp-arrow {
		margin-top: 8px;
		
	}
	h2.resp-tab-active span.resp-arrow {
		border-bottom: 9px solid #4dc8ec;
	}
}
@media only screen and (max-width:480px) {
.resp-vtabs .resp-tabs-container {
    width: 97%;
}

@media only screen and (max-width:414px) {
.resp-vtabs .resp-tabs-container {
    width: 97%;
}
.resp-vtabs .resp-tabs-container {
    width: 100%;
}
}
@media only screen and (max-width: 384px) {
	
	.resp-vtabs .resp-tabs-container {
    width: 100%;
	}
}